html {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  width: 100%;
  font-size: 1em;
  font-family: montserrat, serif;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  color: black;
}

#main-header {
  border-bottom: 2px solid #ff7f50;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  height: 200px;
  background-color: black; // change to hex value
  margin-bottom: 0;
}

.logo {
  width: 200px;
  height: 160px;
  margin-top: 20px;
  margin-right: 500px;
}

@media (max-width: 1397px) {
  .logo {
    margin-right: 400px;
  }
}

@media (max-width: 1297px) {
  .logo {
    margin-right: 300px;
  }
}

@media (max-width: 1197px) {
  .logo {
    margin-right: 200px;
  }
}

@media (max-width: 1097px) {
  .logo {
    margin-right: 100px;
  }
}

@media (max-width: 997px) {
  .logo {
    margin-right: 50px;
  }
}

/* h1 {
  height: 50px;
  margin-left: 50px;
  margin-top: 70px;
  margin-right: 60px;
  color: white;
} */

#top-navbar {
  height: 50px;
  margin-top: 78px;
}

@media (max-width: 526px) {
  #top-navbar {
    margin-top: 50px;
  }
}

#top-navbar ul {
  margin: 0;
  padding: 0;
  height: 50px;
}

#top-navbar ul li {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 1.5em;
  padding-bottom: 18px;
  padding-top: 4px;
}

@media (max-width: 656px) {
  #top-navbar ul li {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 566px) {
  .logo {
    margin-right: 10px;
  }
}

#top-navbar ul a {
  text-decoration: none;
  color: white;
  padding-top: 5px;
  padding-bottom: 17px;
  transition: color 0.3s ease-out;
}

#top-navbar ul a:hover {
  /* color: #303841; */
  color: #ff7f50;
}

#top-navbar ul a:active {
  color: #303841;
  /* color: #ff7f50; */
}

main {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#enquiry-station {
  margin-top: 0;
  height: 264px;
  border-bottom: 0px solid #ff7f50;
}

#enquiry-station h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 80px;
  font-size: 2em;
  color: white;
}

#enquiry-station p {
  margin-top: 30px;
  font-size: 1.5em;
}

#enquiry-station a {
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: black;
  transition: color 0.3s ease-out;
}

#enquiry-station a:hover {
  /* color: #303841; */
  color: #ff7f50;
}

#enquiry-station a:active {
  color: #303841;
  /* color: #ff7f50; */
}

#primary-content {
  border-bottom: 2px solid #ff7f50;
}

#grid {
  padding-top: 0px;
  display: grid;
  grid-template-columns: 420px 420px 420px;
  grid-column-gap: 50px;
  justify-content: center;
}

@media (max-width: 1391px) {
  .about-image,
  .services-image,
  .gallery-image {
    width: 350px !important;
  }
  #about-us-footer,
  #services-footer,
  #gallery-footer {
    width: 348px !important;
    margin-left: 35px !important;
  }
}

@media (max-width: 1301px) {
  #grid {
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 100px;
  }
  .about-image,
  .services-image,
  .gallery-image {
    width: 300px !important;
  }
  #about-us-footer,
  #services-footer,
  #gallery-footer {
    width: 298px !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 1151px) {
  #grid {
    grid-template-columns: 250px 250px 250px;
    grid-column-gap: 100px;
  }
  .about-image,
  .services-image,
  .gallery-image {
    width: 250px !important;
  }
  #about-us-footer,
  #services-footer,
  #gallery-footer {
    width: 248px !important;
  }
}

@media (max-width: 1001px) {
  #grid {
    grid-template-columns: 200px 200px 200px;
    grid-column-gap: 100px;
  }
  .about-image,
  .services-image,
  .gallery-image {
    width: 200px !important;
  }
  #about-us-footer,
  #services-footer,
  #gallery-footer {
    width: 198px !important;
  }
}

@media (max-width: 851px) {
  #grid {
    grid-column-gap: 50px;
  }
}

@media (max-width: 710px) {
  #grid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 130px;
  }
  .about-image,
  .services-image,
  .gallery-image {
    width: 300px !important;
  }
  #about-us-footer,
  #services-footer,
  #gallery-footer {
    width: 298px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.about-image {
  width: 400px;
  border-radius: 5px 5px 0px 0px;
}

.services-image {
  width: 400px;
  border-radius: 5px 5px 0px 0px;
}

.gallery-image {
  width: 400px;
  border-radius: 5px 5px 0px 0px;
}

#about-us-footer,
#services-footer,
#gallery-footer {
  border: 1px solid black;
  border-radius: 0px 0px 5px 5px;
  width: 398px;
  margin-left: 10px;
  margin-top: -9px;
  background-color: black;
}

#about-us a,
#services a,
#gallery a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.25em;
  transition: color 0.3s ease-out;
}

#about-us p,
#services p,
#gallery p {
  transition: color 0.3s ease-out;
}

#about-us p:hover,
#services p:hover,
#gallery p:hover {
  color: #ff7f50;
}

#about-us p:active,
#services p:active,
#gallery p:active {
  color: #303841;
}

/* .code {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 3px;
  transition: color 0.3s ease-out;
} */

/* .images:hover .code {
  color: #ff7f50;
  color: black;
} */

#owner-message {
  text-align: left;
  width:100%
  max-width: 1300px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
  margin-top: 70px;
}

@media (max-width: 710px) {
  #owner-message {
    margin-top: 140px;
  }
}

#owner-message h2 {
  font-size: 1.75em;
  color: white;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#owner-message p {
  color: white;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

footer {
  background-color: black;
  color: white;
}

#bottom-navbar {
  padding-top: 50px;
  padding-bottom: 0px;
}

#bottom-navbar ul {
  margin-top: 0;
}

#bottom-navbar ul li {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 1.5em;
  padding-bottom: 0px;
  padding-top: 0px;
}

#bottom-navbar ul a {
  text-decoration: none;
  color: white;
  padding-top: 5px;
  padding-bottom: 17px;
  transition: color 0.3s ease-out;
}

#bottom-navbar ul a:hover {
  /* color: #303841; */
  color: #ff7f50;
}

#bottom-navbar ul a:active {
  color: #303841;
  /* color: #ff7f50; */
}

#contact-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 0px;
  margin-top: 10px;
  padding-bottom: 20px;
  justify-content: center;
}

#email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 70px;
  padding: 0;
  margin: 0;
  justify-self: center;
  transition: transform 0.3s ease-out;
}

@media (max-width: 851px) {
  #email {
    width: 180px;
  }
}

@media (max-width: 701px) {
  #email {
    width: 140px;
  }
}

#email:hover {
  transform: translateY(8px);
}

.email-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  padding: 0;
}

#phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  padding: 0;
  margin: 0;
  justify-self: center;
  transition: transform 0.3s ease-out;
}

@media (max-width: 851px) {
  #phone {
    width: 220px;
  }
}

@media (max-width: 701px) {
  #phone {
    width: 180px;
  }
}

#phone:hover {
  transform: translateY(8px);
}

.phone-icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  padding: 0;
}

#facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 70px;
  padding: 0;
  margin: 0;
  justify-self: center;
  transition: transform 0.3s ease-out;
}

@media (max-width: 851px) {
  #facebook {
    width: 130px;
  }
}

@media (max-width: 701px) {
  #facebook {
    width: 110px;
  }
}

#facebook:hover {
  transform: translateY(8px);
}

.facebook-icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  padding: 0;
}

#email a,
#phone a,
#facebook a {
  color: white;
  text-decoration: none;
}

#email p,
#phone p,
#facebook p {
  font-size: 1.6em;
  letter-spacing: 1px;
  padding: 0;
}

@media (max-width: 1001px) {
  #email p,
  #phone p,
  #facebook p {
    font-size: 1.3em;
  }
}

@media (max-width: 851px) {
  #email p,
  #phone p,
  #facebook p {
    font-size: 1em;
  }
}

@media (max-width: 701px) {
  #email p,
  #phone p,
  #facebook p {
    font-size: 0.80em;
  }
}

#sub-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 100px;
  justify-content: center;
}

@media (max-width: 507px) {
  #sub-footer {
    grid-column-gap: 50px;
  }
}

#copyright {
  margin-bottom: 0;
  margin-top: 0;
  justify-self: start;
}

@media (max-width: 652px) {
  #copyright {
    font-size: 0.8em;
  }
}

@media (max-width: 555px) {
  #copyright {
    font-size: 0.7em;
  }
}

#plug {
  margin-bottom: 0;
  margin-top: 0;
  justify-self: end;
}

@media (max-width: 652px) {
  #plug {
    font-size: 0.8em;
  }
}

@media (max-width: 555px) {
  #plug {
    font-size: 0.7em;
  }
}
